/*
	https://material.io/guidelines/style/color.html#color-color-palette
*/

h1, h2, h3, h4, h5, h6 {
	margin-top: 1em;
	color: #7B1FA2;
}

h1, h2 {
	text-align: center;
}

a {
	color: #6F6F6FFF;
	text-decoration: underline;
}
a:hover {
	color: #7B1FA2;
	text-decoration: none;
}

code {
	color: #d32f2f;
}

pre {
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: 0 0 1px 0px black;
}

pre.example {
	background-color: #E0F2F1;
}

.underline-on-hover-only {
	text-decoration: none;
}
.underline-on-hover-only:hover {
	text-decoration: underline;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.unobtrusive {
	opacity: 0.38;
}

h1 .unobtrusive,
nav .unobtrusive {
	font-size: 0.6em;
	opacity: 0.3;
}

.method-status {
	background-color: #7B1FA2;
	color: #FFFFFF;
	margin-left: 1em;
	border-radius: 0.25em;
	padding: 0.25em;
	font-weight: normal;
	box-shadow: 0 0 1px 0px black;
	font-size: 80%;
}

.logo {
	text-align: right;
}

.logo > img {
	width: 150px;
	height: 40px;
}

.main-thing-on-page {
	font-weight: 400;
	font-size: 120%;
}

.sr-only {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	white-space:nowrap;
	border-width:0
}
.ease-in-out {
	transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.transition {
	transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
}
.duration-150 {
	transition-duration:.15s
}
.icon-link {
	--text-opacity: 1;
	color: #6F6F6FFF;
	color: rgba(111, 111, 111,var(--text-opacity));
	text-decoration: none;
}
.icon-link:hover {
	--text-opacity:1;
	color: #7B1FA2;
	color:rgba(123,31,162,var(--text-opacity));
	text-decoration: none;
}
.icon-link i {
	padding-left: 50%;
	padding-right: 50%;
}
.icon-link p {
	text-align: center;
}
.icon-system {
	color: #6F6F6FFF;
}
.meeting-container {
	background: lightgoldenrodyellow;
	border-radius: 10px;
}
pre, code {
	white-space: pre-wrap;
}
