/*
	https://material.io/guidelines/style/color.html#color-color-palette
*/

html {
    font-family: Verdana, sans-serif;
}

body {
	line-height: 1.5;
	padding-top: 3em;
	/*
	*/
	margin: 0;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5em;
	color: #FFFFFF;
	background-color: #673AB7;
	box-shadow: 0 0 4px 0px black;
	z-index: 4;
	text-align: center;
	/*
	background-color: #7E57C2;
	*/
}

main {
	padding: 2em;
	margin-left: 20em;
}

main > h1 {
	margin-top: 0;
}

section {
	margin-top: 1em;
	margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	/*
	color: #512DA8;
	color: #9C27B0;
	color: #8E24AA;
	*/
	margin-top: 1em;
	color: #7B1FA2;
}

a {
	/*
	color: #009688;
	*/
	color: #00897b;
	text-decoration: none;
}

dd {
	margin-top: 1em;
}

.markdown-definitions dd {
	margin-top: 0;
}

table {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-collapse: collapse;
}

code {
	margin: 0.25em;
	padding: 0.25em;
	background-color: #E0F2F1;
	border: 1px solid #A0C0A0;
	border-radius: 0.25em;
}

pre {
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: 0 0 1px 0px black;
}

pre.example {
	background-color: #E0F2F1;
}

.underline-on-hover-only {
	text-decoration: none;
}
.underline-on-hover-only:hover {
	text-decoration: underline;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.nav-here {
	font-weight: bold;
}

.source-ref {
	margin-left: 2em;
	opacity: 0.5;
	visibility: hidden;
}

dt:hover .source-ref {
	visibility: visible;
}

.shift-right {
	padding-left: 2em;
}

.non-literal {
	font-style: italic;
}

.unobtrusive {
	font-size: 0.8em;
	opacity: 0.38;
}

h1 .unobtrusive,
nav .unobtrusive {
	font-size: 0.6em;
	opacity: 0.3;
}

.method-status {
	background-color: #7B1FA2;
	color: #FFFFFF;
	margin-left: 1em;
	border-radius: 0.25em;
	padding: 0.25em;
	font-weight: normal;
	box-shadow: 0 0 1px 0px black;
	font-size: 80%;
}

nav {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 18em;
	color: #FAFAFA;
	background-color: #212121;
	box-shadow: 0 0 2px 0px black;
	margin-top: 2em;
	/*
	background-color: #FAFAFA;
	background-color: #424242;
	padding: 1em;
	*/
}

nav a {
	color: #80CBC4;
}

nav h1, nav h2, nav h3, nav h4, nav h5, nav h6 {
	margin-top: 0;
	color: #BA68C8;
}

.nav-main {
	padding: 1em;
}

.parent-namespace-nav > .parent-namespace-nav,
.parent-namespace-nav > .current-nav {
	padding-left: 1em;
}

.current-nav {
	/*
	font-weight: bold;
	*/
}

nav .footer {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 1em;
}

/*
.method {
	box-shadow: 0 0 1px 0px black;
	padding: 1em;
	background-color: #FAFAFA;
	border-radius: 0.25em;
	margin-bottom: 1em;
}
*/
.method-signature {
	font-weight: bold;
}

/*
.returns h4 {
	margin-bottom: 0.25em;
}
*/

table.documented-params td:nth-child(1) {
	font-weight: bold;
	padding-right: 1em;
}

pre.auto {
	background-color: #FFFDE7;
}

.markdown-table td {
	padding-right: 2em;
}

.man-page-date {
	text-align: center;
}
