/*
	https://material.io/guidelines/style/color.html#color-color-palette
*/

html {
    font-family: Verdana, sans-serif;
}

body {
	line-height: 1.5;
	padding-top: 3em;
	margin: 0;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5em;
	color: #FFFFFF;
	background-color: #673AB7;
	box-shadow: 0 0 4px 0px black;
	z-index: 4;
	text-align: center;
}

nav {
	position: fixed;
	left: 0;
	width: 18em;
	background-color: #EDE7F6;
	margin-top: 2em;
	padding: 1em;
	box-shadow: 0 0 1px 0px black;
}

main {
	padding: 2em;
	margin-left: 20em;
}

main > h1 {
	margin-top: 0;
}

section {
	margin-top: 1em;
	margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	/*
	color: #512DA8;
	color: #9C27B0;
	color: #8E24AA;
	*/
	margin-top: 1em;
	color: #7B1FA2;
}

a {
	/*
	color: #009688;
	*/
	color: #00897b;
	text-decoration: none;
}

dl {
	/*
	padding: 0.5em;
	box-shadow: 0 0 1px 0px black;
	*/
}

dt {
	/*
	font-weight: bold;
	*/
}

dd {
	margin-top: 1em;
}

table {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-collapse: collapse;
}

table.params td:nth-child(1) {
	font-weight: bold;
}

th {
	color: #888888;
}

th, td {
	padding: 0.3em;
}

code {
	margin: 0.25em;
	padding: 0.25em;
	background-color: #F0FFE0;
	border: 1px solid #A0C0A0;
	border-radius: 0.25em;
}

pre.example {
	background-color: #E0F2F1;
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: 0 0 1px 0px black;
}

.underline-on-hover-only {
	text-decoration: none;
}
.underline-on-hover-only:hover {
	text-decoration: underline;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.nav-here {
	font-weight: bold;
}

.source-ref {
	margin-left: 2em;
	opacity: 0.5;
	visibility: hidden;
}

dt:hover .source-ref {
	visibility: visible;
}

.shift-right {
	padding-left: 2em;
}

.non-literal {
	font-style: italic;
}

.unobtrusive {
	font-size: 0.8em;
	opacity: 0.38;
}

h1 .unobtrusive,
nav .unobtrusive {
	font-size: 0.6em;
	opacity: 0.3;
}

.method-status {
	background-color: #7B1FA2;
	color: #FFFFFF;
	margin-left: 1em;
	border-radius: 0.25em;
	padding: 0.25em;
	font-weight: normal;
	box-shadow: 0 0 1px 0px black;
	font-size: 80%;
}
