#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/dpkg/buildflags.mk
CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- LDFLAGS="$(LDFLAGS)"
	

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
